* {
    margin: 0;
    padding: 0;
    font-family: system-ui;
    box-sizing:border-box;
}
html {
  background-color: teal;
}
.container {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}
.title {
    text-align: center;
    color: #d1d1d3;
}
.main {
    width: 600px;
    height: 600px;
    /* background-color: #453C67; */
    margin: 0 auto;
    margin-top: 40px;
    display: grid;
    grid-template-columns: 200px 200px 190px;
    grid-template-rows: 200px 200px 190px;
    
}


.cells {
    background-color: #a09ceb;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #453C67;
}
.cells:hover {
    background-color: #d7d7da;
}
.mark {
    font-size: 70px;
    font-weight: 600;
   
}
.player {
    text-align: center;
    margin-top: 20px;
    color: #d1d1d3;
}
.restart-container {
  display: flex;
  margin-top: 20px;
  justify-content: space-around;
}
.restart-button {
    padding: 10px 20px 10px 20px;
    cursor: pointer;
    border-radius: 10px;
    outline: none;
    border: none;
    background-color: #d1d1d3;
    font-size: 20px;
}
.go-back {
  padding: 10px 20px 10px 20px;
  cursor: pointer;
  border-radius: 10px;
  outline: none;
  border: none;
  background-color: #d1d1d3;
  font-size: 20px;
}
.start-game {
    padding: 10px 20px 10px 20px;
    cursor: pointer;
    border-radius: 10px;
    outline: none;
    border: none;
    background-color: #d1d1d3;
    font-size: 20px;
  
}
.start-game:hover, .go-back:hover {
  background-color: #ababab;
}
.start-game-container {
    display: flex;
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100vh;
}
.player-player, .player-ai {
    padding: 10px 20px 10px 20px;
    cursor: pointer;
    border-radius: 10px;
    outline: none;
    border: none;
    background-color: #d1d1d3;
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
}
.player-player:hover, .player-ai:hover, .submit-names:hover {
  background-color: #ababab;
}


.restart-button:hover {
  background-color: #ababab;
}


/*Text animation*/

.fade-in {
    animation: fadeIn ease 0.5s;
    -webkit-animation: fadeIn ease 0.5s;
    -moz-animation: fadeIn ease 0.5s;
    -o-animation: fadeIn ease 0.5s;
    -ms-animation: fadeIn ease 0.5s;
  }
  @keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-moz-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-webkit-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-o-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-ms-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }

  @media only screen and (max-width: 620px) {
    .main {
      width: 300px;
      height: 300px;
      margin: 0 auto;
      margin-top: 40px;
      display: grid;
      grid-template-columns: 100px 100px 90px;
      grid-template-rows: 100px 100px 90px;
      
    }
    .player-player, .player-ai {
      padding: 10px 0px 10px 0px;
     
      font-size: 16px;
  }
    .start-game-container {
      height: 100vh;
      margin: 0;
    }
    body{
      height: 100vh;
    }
    .restart-button, .go-back {
    padding: 5px 10px 5px 10px;
    cursor: pointer;
    border-radius: 10px;
    outline: none;
    border: none;
    background-color: #d1d1d3;
    font-size: 17px;
    }
 
  }


  .name-inputs {
    display: flex;
    gap: 180px;
  }
  @media only screen and (max-width: 700px) {
    .name-inputs {
      display: block;
      }
  }
  @media screen and (max-height: 900px){
    .main {
    background-color: transparent;
    height: 100%;
    margin: 0 auto;
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 120px);
    grid-template-rows: repeat(3, 120px);
    justify-content: center;
    }
 
   }
  form {
    text-align: -webkit-center;
  }
  .submit-names {
    margin-top: 60px;
    padding: 10px 15px 10px 15px;
    cursor: pointer;
    border-radius: 10px;
    outline: none;
    border: none;
    background-color: #d1d1d3;
    font-size: 18px;
  }
  .label-name-one, .label-name-two {
    text-align: initial;
    margin-bottom: 2px;
    font-size: 20px;
    color:#d1d1d3;
  }
  input {
    outline: none;
    border-style: 1px solid #ababab;
    border-radius: 10px;
    font-size: 19px;
    background-color: #babecb;
  }
  .player-one-name, .player-two-name {
    padding: 5px;
  }

  .score {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    color: #d1d1d3;
}
.bi {
  margin-right: 5px;
  margin-left: 5px;
}