* {
    margin: 0;
    padding: 0;
    font-family: cursive;
    box-sizing:border-box;
}
.container {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}
.title {
    text-align: center;
}
.main {
    width: 600px;
    height: 600px;
    background-color: #494949;
    margin: 0 auto;
    margin-top: 40px;
    display: grid;
    grid-template-columns: 200px 200px 190px;
    grid-template-rows: 200px 200px 190px;
    grid-gap: 5px;
}
.cells {
    background-color: #eeeef0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cells:hover {
    background-color: #d7d7da;
}
.answer {
    font-size: 70px;
    font-weight: 600;
   
}
.player {
    text-align: center;
    margin-top: 20px;
}


/*Text animation*/

.fade-in {
    animation: fadeIn ease 0.5s;
    -webkit-animation: fadeIn ease 0.5s;
    -moz-animation: fadeIn ease 0.5s;
    -o-animation: fadeIn ease 0.5s;
    -ms-animation: fadeIn ease 0.5s;
  }
  @keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-moz-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-webkit-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-o-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-ms-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }